table.board {
    width: 100%;
    border-collapse: collapse;
    aspect-ratio: 1/1;
    table-layout:fixed;
    min-width: 330px;
}

td.board {
    height: calc(100% / 9);
    width: calc(100% / 9);
    min-width: 60px;
    aspect-ratio: 1/1;
    border: 1px solid;
}

td:first-child.board {
    border-left: solid;
    border-left-width: 3px;
}

td:nth-child(3n).board {
    border-right: solid;
    border-right-width: 3px;
}

tr:first-child.board {
    border-top: solid;
    border-top-width: 3px;
}

tr:nth-child(3n).board {
    border-bottom: solid;
    border-bottom-width: 3px;
}

.cell p{
    text-align: center;
    font-size: clamp(20px, 2vw, 90px);
}

table.candidates {
    border-collapse: collapse;
    aspect-ratio: 1/1;
    width: 100%;
    font-size: clamp(6px, 0.6vw, 90px);
    text-align: center;
}

.candidates td {
    height: calc(100% / 3);
    width: calc(100% / 3);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 10px;
    flex-direction: row;
}

.flex-item {
    margin: auto;
    flex: 0 0 30%;
}

.flex-item2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.technique-description{
    width: 20vw;
    min-width: 200px;
    font-size: clamp(10px, 1.5vw, 20px);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.buttons {
    min-width: 5vw;
    align-items: center;
}

.keyboard {
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#keyboard button {
    float: left;
    margin: 0 0.5vw 0.5vw 0;
    width: 5vw;
    height: 5vw;
    min-height: 35px;
    max-height: 100px;
    min-width: 35px;
    max-width: 100px;
    font-size: clamp(12px, 2vw, 20px);
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

#help button{
    width: 8vw;
}

#keyboard button:active {
    font-size: clamp(10px, 1.5vw, 20px);
    border: 2px solid black;
}

#numpad button:nth-child(3n+1) {
    clear: left;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}